
@font-face {
  font-family: 'Noto Sans SC-Medium';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/NotoSansSC-VariableFont_wght_2.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Noto Sans SC-Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/NotoSansSC-VariableFont_wght_2.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Noto Sans SC-Bold';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/NotoSansSC-VariableFont_wght_2.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Noto Sans SC-SemiBold';
  font-style: normal;
  font-weight: 100 900;
  src: url(../font/NotoSansSC-VariableFont_wght_2.ttf) format(truetype);
}

		